html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  width: auto;
}

a {
  outline: none;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 18px;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul,
ol {
  margin: 10px 0 10px 0;
}

li ol,
li ul {
  margin: 0;
}

.main_container {
  z-index: 2;
  position: relative;
  width: 100%;
  background-color: #212121;
  min-width: 300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-container {
  z-index: 1;
  position: relative;
  width: 100%;
  min-width: 300px;
}

.content {
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 900px;
  overflow-x: auto;
  color:#F8F0E3;
}

.content p a,
.content ul a,
.content ol a {
  text-decoration: none;
  color: #005cbf;
}

.content p a:hover,
.content ul a:hover,
.content ol a:hover {
  text-decoration: underline;
}

.content-table {
  padding: 20px 10px;
  width: 100%;
  margin: 0;
}

.flex_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.flex_item {
  margin: 0 20px;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.full-width {
  width: 100%;
}

.text {
  margin: 10px 0 10px 0;
  padding: 0;
}

.image {
  border-radius: 2px;
  width: 100%;
  margin: 15px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

.image.center {
  align-self: center;
}

.text-large {
  font-size: 24px;
}

.text-small {
  font-size: 15px;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

